.layout {
	height: 100vh;
	weight: 100vh;
	position: relative
}

.content {
	margin: 5px 20px 5px 20px;
	padding: 0 50px;
	height: 80vh;
	position: relative
}

.header {
	color: #d9d9d9;
}

.footer {
	margin: auto;
}

.splitPane {
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	height: 100%;
	width: 100%
}


.ordersList {
	margin: 10px;
}